@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Open Sans', sans-serif; 
}

.background {
    background: url(../Images/pitch.jpg) no-repeat center;
    background-color: navy;
}

.score-board {
    background-color: rgba(0, 0, 0, .7);
    margin: 2.5rem auto;
    height: 4rem;
    width: 630px; 
    display: flex;
    justify-content: center;
}

.grid { 
    width: auto;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
}

.card { 
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid white;
    
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.card:hover {
    background-color: rgba(0, 0, 0, .9);
    transform: scale(1.03);
    cursor: pointer;
    
}


#menu-background {
    height: 100vh;
    text-align: center;
    background: url(../Images/stadiumout.jpg) no-repeat center;
    background-color: navy;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.home-btns { 
    width: 280px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
    border: 2px solid white;
    font-size: 1.3rem;
    color: white;
    border-radius: 10px;
    letter-spacing: 2px;
}

.home-btns:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}