@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Open Sans', sans-serif; 
}

.background {
    background: url(../Images/pitch.jpg) no-repeat center;
    background-color: navy;
}

.score-board {
    margin: 2.5rem auto;
    height: 4rem;
    width: 630px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-btns { 
    border: 1px solid white;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: transparent;
    font-size: 1rem;
}

.score-btns button {
    background-color: rgba(0, 0, 0, .3);
}

.grid { 
    width: auto;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
}

.card { 
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid white;
    
}

.selected {
    background-color: transparent;
    transform: scale(1.03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card.selected img {
    opacity: 1;
}

.correct {
    background-color: rgba(0, 255, 15, 0.7);
    transform: scale(1.03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    animation: spin 0.8s;
    animation-delay: 0.5s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  
.correct img {
    opacity: 1;
}

.incorrect {
    background-color: rgba(240, 3, 3, .7);
}

.card:hover {
    background-color: rgba(0, 0, 0, .9);
    transform: scale(1.03);
    cursor: pointer;
    
}


#menu-background {
    height: 100vh;
    text-align: center;
    background: url(../Images/stadiumout.jpg) no-repeat center;
    background-color: navy;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
    letter-spacing: 3px;
    color: white;
    font-weight: 500;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .7); 
    font-family: 'Fredoka One', cursive;
    
}

.home-btns { 
    width: 280px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .3);
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    font-family: 'Open Sans', sans-serif;
}

.home-btns:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}

.score-hover:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    
}