@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@700&family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Open Sans', sans-serif; 
}

h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
    letter-spacing: 3px;
    color: white;
    font-weight: 500;
    text-shadow: 0 4px 8px rgba(0, 0, 0, .7); 
    font-family: 'Fredoka One', cursive;
}

#margin {
    margin: auto;
}

/* Page Images */

.game-background {
    background: url(../Images/pitch.jpg) no-repeat center;
    background-color: navy;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.menu-background {
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url(../Images/stadiumout.jpg) no-repeat center;
    background-color: navy;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.score-background {
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url(../Images/stadiumstand.jpg) no-repeat center;
    background-color: navy;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.leaderboard-background {
    height: 100vh;
    width: 100%;
    text-align: center;
    background: url(../Images/stadiumview.jpg) no-repeat center;
    background-color: navy;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* Game scoreboard */

.score-board {
    margin: 2.5rem auto;
    height: 4rem;
    width: 630px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score-btns { 
    border: 1px solid white;
    padding: 1rem;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: transparent;
    font-size: 1rem;
    text-decoration: none;
}

.score-btns button {
    background-color: rgba(0, 0, 0, .3);
}

.game-text { 
    display: flex;
    justify-content: center;
    margin: 0 auto 2.5rem;
    text-align: center;
    font-size: 1rem;
    color: white;
    padding: 10px;
    word-spacing: 2px;
    border: 1px solid white;
    width: 610px;
    background-color: rgb(31, 17, 235);
    
}

.grid { 
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 10px;
}

.card { 
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid white;
    
}

.selected {
    background-color: transparent;
    transform: scale(1.03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card.selected img {
    opacity: 1;
}

.correct {
    background-color: rgba(0, 255, 15, 0.7);
    transform: scale(1.03);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    animation: spin 0.8s;
    animation-delay: 0.5s;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  
.correct img {
    opacity: 1;
}

.incorrect {
    background-color: rgba(240, 3, 3, .7);
}

.card:hover {
    background-color: rgba(0, 0, 0, .9);
    transform: scale(1.03);
    cursor: pointer;
    
}

/* Home btns */
.home-btns { 
    width: 280px;
    height: 80px;
    margin: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid white;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    font-family: 'Open Sans', sans-serif;
}

input {
    background-color: white;
    text-align: center;
    width: 280px;
    border: 1px solid white;
    height: 80px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
    letter-spacing: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    box-sizing: border-box;
}

::placeholder {
    color: black;
    text-transform: uppercase;
    box-sizing: border-box;
}

::placeholder:hover {
    background-color: white;
    cursor: text;
    color: white;
}

.home-btns:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
}

.score-hover:hover {
    transform: scale(1.03);
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
}

.score-list-container {
    display: flex;
    justify-content: center;
}

.score-list {
    display: flex;
    justify-content: center;
}

#high-scores-list {
    background-color: rgba(0, 0, 0, .7);
    color: white;
    border: 1px solid white;
    list-style-type: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .7);
    margin: 10px;
    width: 280px;
}

#high-scores-list li {
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
}

@media screen and (max-width: 700px) {

    h1 {
        font-size: 4rem;
    }

    .card img {
        height: 130px;
        width: 130px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(4, 130px);
        grid-gap: 10px;
        margin-top: 4rem;

    }

    .score-board {
        width: 550px;
        margin: 4rem auto;
        display: flex;
        justify-content: space-between;
    }

    .game-text { 
        margin: 0 auto 2.5rem;
        font-size: 14px;
        width: 530px;
        
    }
  }

@media screen and (max-width: 600px) {

    .card img {
        height: 115px;
        width: 115px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(4, 120px);
        grid-gap: 10px;
        margin-top: 4rem;

    }

    .score-board {
        width: 510px;
        margin: 6rem auto 4rem;
    }

    .score-btns { 
        padding: 10px;
        font-size: 12px;
    }

    .game-text { 
        margin: 0 auto 2.5rem;
        font-size: 12px;
        width: 490px;
        
    }

}

@media screen and (max-width: 550px) {
    
    h1 {
        font-size: 3rem;
    }

    .home-btns { 
        width: 260px;
        height: 60px;
        margin: 10px;
        padding: 5px;
        font-size: 1rem;
        color: white;
    }
    
    input {
        width: 260px;
        height: 60px;
        font-size: 1rem;
        margin: 10px;
        letter-spacing: 3px;
    }

    #high-scores-list {
        margin: 10px;
        width: 260px;
    }
    
    #high-scores-list li {
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px;
        font-size: 1rem;
    }

    .card img {
        height: 100px;
        width: 100px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(4, 90px);
        grid-template-rows: repeat(4, 90px);

    }

    .score-board {
        width: 390px;
        margin: 6rem auto 4rem;
    }

    .score-btns { 
        padding: 10px;
        font-size: 12px;
    }

    .game-text { 
        margin: 0 auto 2.5rem;
        font-size: 12px;
        width: 370px;
        
    }

}  

@media screen and (max-width: 500px) {

    .card img {
        height: 100px;
        width: 100px;
        object-fit: contain;
        width: 100%;
        height: 100%;
    }

    .grid {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(4, 70px);
        grid-gap: 5px;

    }

    .score-board {
        width: 300px;
        margin: 8rem auto 2.5rem;
    }

    .score-btns { 
        padding: 10px;
        font-size: 12px;
    }

    .game-text { 
        margin: 0 auto 2.5rem;
        font-size: 12px;
        width: 280px;
        
    }

}  
