* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../Images/pitch.jpg) no-repeat center;
}

header {
    background-color: rgba(0, 0, 0, .7);
    margin: 2.5rem auto;
    height: 4rem;
    width: 630px; 
    display: flex;
    justify-content: center;
}

.card-grid { 
    width: auto;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 10px;
}

.card { 
    display: grid;
    background-color: rgba(0, 0, 0, .7);
    border: 1px solid white;
    
}

.card img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card:hover {
    background-color: rgba(0, 0, 0, .9);
    transform: scale(1.03);
    
}